<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.julian"></context:component-scan>
	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>/WEB-INF/DataSource.properties</value>
		</property>
	</bean>

	<bean id="JavaServerFacesSpringCpymes"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSourceCpymes" />
		<property name="persistenceUnitName" value="CPYMES" />
		<property name="packagesToScan" value="com.julian.entity" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			</props>
		</property>
	</bean>

	<bean id="JavaServerFacesSpringDocSis"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSourceDocSis" />
		<property name="persistenceUnitName" value="DOCSIS" />
		<property name="packagesToScan" value="com.julian.entity" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			</props>
		</property>
	</bean>

	<bean id="dataSourceCpymes"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${cpymes.driver}" />
		<property name="url" value="${cpymes.url}" />
		<property name="username" value="${cpymes.user}" />
		<property name="password" value="${cpymes.password}" />
	</bean>

	<bean id="dataSourceDocSis"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${docsis.driver}" />
		<property name="url" value="${docsis.url}" />
		<property name="username" value="${docsis.user}" />
		<property name="password" value="${docsis.password}" />
	</bean>

	<bean id="transactionManagerCpymes" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="JavaServerFacesSpringCpymes" />
	</bean>

	<bean id="transactionManagerDocSis" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="JavaServerFacesSpringDocSis" />
	</bean>

	<bean id="persistenceExceptionTranslationPostProcessor"
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>